<div class="shopping-cart">
    <div class="title">Manage Users</div>
    <div class="row btn-row">
        <text class="hidden-xs col-sm-3 col-md-2"> Search by all values: </text>
        <div class="col-xs-5 col-sm-5 col-md-2"> <input id="filter_input" class="form-control" ></div>
        <div class="pull-right offset-md-8 offset-sm-8 offset-xs-5">
            <button type="button" class="btn btn-info" ng-click="addRecord()" ng-disabled="!globals.currentUser.isAdmin && !globals.currentUser.isManager"><i class="glyphicon glyphicon-plus">
            </i> Add New User</button>
        </div>
    </div>
    <div class="item row item-border">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="description col-lg-2 hidden-md hidden-sm">
                </br>
                <div>name</div>
                <span></span>
            </div>
            <div class="description col-lg-2 hidden-md hidden-sm">
                </br>
                <span>surname</span>
                <span></span>
            </div>
            <div class="description col-lg-2 col-md-2 col-sm-2">
                </br>
                <span>username</span>
                <span></span>
            </div>
            <div class="description col-lg-2 col-md-3 col-sm-3">
                </br>
                <span>email</span>
                <span></span>
            </div>
            <div class="total-price col-lg-2 col-md-2 col-sm-2">roles</div>
            <div class="total-price col-lg-2 col-md-5 col-sm-5">action</div>
        </div>
    </div>

    <div ng-repeat="item in items">
        <div id="{{item.id}}" class="item filter-row row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="description col-lg-2 hidden-md hidden-sm">
                    </br>
                    <span class="filter">{{item.name}}</span>
                </div>
                <div class="description col-lg-2 hidden-md hidden-sm">
                    </br>
                    <span class="filter">{{item.surname}}</span>
                    <span></span>
                </div>
                <div class="description col-lg-2 col-md-2 col-sm-2">
                    </br>
                    <span class="filter">{{item.username}}</span>
                    <span></span>
                </div>
                <div class="description col-lg-2 col-md-3 col-sm-3">
                    </br>
                    <span class="filter">{{item.emailAddress}}</span>
                    <span></span>
                </div>
                <div class="filter total-price col-lg-2 col-md-3 col-sm-3">{{item.roles}}</div>
                <div class="total-price col-lg-2 col-md-4 col-sm-4">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info" ng-click="viewRecord(item)">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="editRecord(item)" ng-disabled="!globals.currentUser.isAdmin && !globals.currentUser.isManager"><i class="fa fa-pencil-square-o">
                        </i></button>
                        <button type="button" class="btn btn-danger delete-btn" ng-click="deleteRecord(item.id, item)" ng-disabled="!globals.currentUser.isAdmin && !globals.currentUser.isManager"><i class="fa fa-trash">
                        </i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
