<!--<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>-->

<div ng-app="myApp" ng-controller="HomeController" >
    <section class="featured">
        <div class="container">
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">

                    <div class="align-center">
                        <i class="fa fa-flask fa-5x mar-bot20 align-center"></i>
                        <h2 class="slogan align-center">Welcome to LIME</h2>
                        <p>
                            Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut. Eum impetus offendit disputationi eu, at vim aliquip lucilius praesent. Alia laudem antiopam te ius, sed ad munere integre, ubique facete sapientem nam ut.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>



