<div class="clearfix" id="edit-modal-user-views">
    <div class="modal-header model-grey-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModal()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Edit </h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form" role="form">
            <div ng-if="resource || product || users || suppliers || categoryResource || categoryProduct" class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$error.required }">
                <label class="col-sm-3 control-label">Name <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="name" ng-model="item.name" placeholder="Name" class="form-control" required>
                    <span ng-show="form.name.$touched && form.name.$error.required" class="help-block">Name is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter name" tooltip-placement="left">?</span>
            </div>
            <div ng-if="users" class="form-group" ng-class="{ 'has-error': form.username.$touched && form.username.$error.required }">
                <label class="col-sm-3 control-label">Username <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="username" ng-model="item.username" placeholder="Username" class="form-control" required>
                    <span ng-show="form.name.$touched && form.name.$error.required" class="help-block">Username is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter name" tooltip-placement="left">?</span>
            </div>
            <div ng-if="users" class="form-group" ng-class="{ 'has-error': form.surname.$touched && form.surname.$error.required }">
                <label class="col-sm-3 control-label">Surname <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="surname" ng-model="item.surname" placeholder="Surname" class="form-control" required>
                    <span ng-show="form.surname.$touched && form.surname.$error.required" class="help-block">Surname is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter surname" tooltip-placement="left">?</span>
            </div>
            <div ng-if="resource || product" class="form-group" ng-class="{ 'has-error': form.description.$touched && form.description.$error.required }">
                <label class="col-sm-3 control-label">Description <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="description" ng-model="item.description" placeholder="Description" class="form-control" required>
                    <span ng-show="form.description.$touched && form.description.$error.required" class="help-block">Description is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter description" tooltip-placement="left">?</span>
            </div>
            <div ng-if="resource" class="form-group" ng-class="{ 'has-error': form.quantity.$touched && form.quantity.$error.required }">
                <label class="col-sm-3 control-label">Quantity <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="number" name="quantity" min="0" max="10000" step ="1" ng-model="item.quantity" placeholder="Quantity" class="form-control" required>
                    <span ng-show="form.quantity.$touched && form.quantity.$error.required" class="help-block">Quantity is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter quantity" tooltip-placement="left">?</span>
            </div>
            <div ng-if="product" class="form-group" ng-class="{ 'has-error': form.expectedValue.$touched && form.expectedValue.$error.required }">
                <label class="col-sm-3 control-label">Expected Value <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="number" name="expectedValue" min="0" max="10000" step ="1" ng-model="item.expectedValue" placeholder="expected value" class="form-control" required>
                    <span ng-show="form.expectedValue.$touched && form.expectedValue.$error.required" class="help-block">Expected Value is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter expected value" tooltip-placement="left">?</span>
            </div>
            <div ng-if="resource || product" class="form-group" ng-class="{ 'has-error': form.unit.$touched && form.unit.$error.required }">
                <label class="col-sm-3 control-label">Unit <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <select type="text" name="unit" ng-model="item.unit" placeholder="Unit" class="form-control" required>
                        <option value="KG">KG</option>
                        <option value="FEET">FEET</option>
                        <option value="BAR">BAR</option>
                        <option value="LITER">LITER</option>
                        <option value="METERS">METERS</option>
                        <option value="INCHES">INCHES</option>
                        <option value="UNIT">UNIT</option>
                        <option value="MM">MM</option>
                        <option value="ML">ML</option>
                        <option value="GRAMS">GRAMS</option>
                        <option value="MG">MG</option>
                        <option value="SQM">SQM</option>
                        <option value="CBM">CBM</option>
                        <option value="KG">BOX</option>
                    </select>
                    <span ng-show="form.unit.$touched && form.unit.$error.required" class="help-block">Unit is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter unit" tooltip-placement="left">?</span>
            </div>
            <div ng-if="resource || product" class="form-group" ng-class="{ 'has-error': form.image.$touched && form.image.$error.required }">
                <label class="col-sm-3 control-label">Image <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="file" file-model="item.image" class="form-control">
                    <span ng-show="form.image.$touched && form.image.$error.required" class="help-block">Image is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter item image" tooltip-placement="left">?</span>
            </div>
            <div ng-if="resource" class="form-group" ng-class="{ 'has-error': form.supplier.$touched && form.supplier.$error.required }">
                <label class="col-sm-3 control-label">Supplier email: <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <div class="row" ng-repeat="supplier in suppliersList">
                        <input type="checkbox" checklist-model="list.suppliers" ng-required="list.suppliers.length==0" checklist-value="supplier"> {{supplier.emailAddress}}
                    </div>
                    <span ng-show="form.supplier.$touched && form.supplier.$error.required" class="help-block">Supplier email is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter supplier email" tooltip-placement="left">?</span>
            </div>
            <div ng-if="users || suppliers" class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$error.required }">
                <label class="col-sm-3 control-label">Email <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="email" name="emailAddress" ng-model="item.emailAddress" placeholder="Email" class="form-control" required>
                    <span ng-show="form.emailAddress.$touched && form.emailAddress.$error.required" class="help-block">Email is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter email" tooltip-placement="left">?</span>
            </div>
            <div ng-if="suppliers" class="form-group" ng-class="{ 'has-error': form.telephone.$touched && form.telephone.$error.required }">
                <label class="col-sm-3 control-label">Telephone <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="tel" name="telephone" ng-model="item.telephone" placeholder="telephone" class="form-control" required>
                    <span ng-show="form.telephone.$touched && form.telephone.$error.required" class="help-block">Telephone is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter telephone" tooltip-placement="left">?</span>
            </div>
            <div ng-if="suppliers" class="form-group" ng-class="{ 'has-error': form.city.$touched && form.city.$error.required }">
                <label class="col-sm-3 control-label">City <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="city" ng-model="item.city" placeholder="City" class="form-control" required>
                    <span ng-show="form.city.$touched && form.city.$error.required" class="help-block">City is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter city" tooltip-placement="left">?</span>
            </div>
            <div ng-if="suppliers" class="form-group" ng-class="{ 'has-error': form.country.$touched && form.country.$error.required }">
                <label class="col-sm-3 control-label">Country <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="country" ng-model="item.country" placeholder="country" class="form-control" required>
                    <span ng-show="form.country.$touched && form.country.$error.required" class="help-block">Country is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter country" tooltip-placement="left">?</span>
            </div>
            <div ng-if="suppliers" class="form-group" ng-class="{ 'has-error': form.postalCode.$touched && form.postalCode.$error.required }">
                <label class="col-sm-3 control-label">Postal Code <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="postalCode" ng-model="item.postalCode" placeholder="postalCode" class="form-control" required>
                    <span ng-show="form.postalCode.$touched && form.postalCode.$error.required" class="help-block">Postal code is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter postal code" tooltip-placement="left">?</span>
            </div>
            <div ng-if="suppliers" class="form-group" ng-class="{ 'has-error': form.street.$touched && form.street.$error.required }">
                <label class="col-sm-3 control-label">Street <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="text" name="street" ng-model="item.street" placeholder="street" class="form-control" required>
                    <span ng-show="form.street.$touched && form.street.$error.required" class="help-block">Street is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter street" tooltip-placement="left">?</span>
            </div>
            <div ng-if="users" class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$error.required }">
                <label class="col-sm-3 control-label">Password <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <input type="password" name="password" ng-model="item.password" placeholder="password" class="form-control" required>
                    <span ng-show="form.password.$touched && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter password" tooltip-placement="left">?</span>
            </div>
            <div ng-if="users" class="form-group">
                <label class="col-sm-3 control-label">Roles <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <div class="row" ng-repeat="role in roles">
                        <input type="checkbox" checklist-model="list.roles" ng-required="list.roles.length==0" checklist-value="role"> {{role.name}}
                    </div>
                    <span ng-show="form.roles.$touched && form.roles.$error.required" class="help-block">Role is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter role" tooltip-placement="left">?</span>
            </div>
            <div ng-if="notifications" class="form-group">
                <label class="col-sm-3 control-label">Resource name <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <label  ng-model="item.name" class="form-control" >{{item.name}}</label>
                </div>
            </div>
            <div ng-if="notifications" class="form-group">
            <label class="col-sm-3 control-label">Critical value <sup class="sup-color">*</sup></label>
            <div class="col-sm-8">
                <input type="number" name="critical_value" min="0" max="10000" step ="1" ng-model="item.critical_value" placeholder="expected value" class="form-control" required>
                <span ng-show="form.critical_value.$touched && form.critical_value.$error.required" class="help-block">Critical Value is required</span>
            </div>
            <span class="help-button" uib-tooltip="Please enter critical value" tooltip-placement="left">?</span>
        </div>
            <div ng-if="notifications" class="form-group">
                <label class="col-sm-3 control-label">Notifications on <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <select type="text" name="notifications_on" ng-model="item.notifications_on" placeholder="Notifications" class="form-control" required>
                        <option ng-value="false">false</option>
                        <option ng-value="true">true</option>
                    </select>
                    <span ng-show="form.notifications_on.$touched && form.notifications_on.$error.required" class="help-block">Notifications are required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter notifications" tooltip-placement="left">?</span>
            </div>
            <div ng-if="resource || product" class="form-group" ng-class="{ 'has-error': form.category.$touched && form.category.$error.required }">
                <label class="col-sm-3 control-label">Category <sup class="sup-color">*</sup></label>
                <div class="col-sm-8">
                    <select ng-model="item.category" name="category" placeholder="category" class="form-control" required>
                        <option ng-repeat="category in categories" ng-value="category">{{category.name}}</option>
                    </select>
                    <span ng-show="form.category.$touched && form.category.$error.required" class="help-block">category is required</span>
                </div>
                <span class="help-button" uib-tooltip="Please enter category" tooltip-placement="left">?</span>
            </div>
        </form>
    </div>
    <div class="modal-footer model-grey-color">
        <button class="btn btn-success" ng-click="update()" ng-disabled="form.$invalid"><i class="glyphicon glyphicon-floppy-save"></i> Update</button>
        <button class="btn btn-danger" ng-click="cancelModal()"><i class="glyphicon glyphicon-remove"></i> Close</button>
    </div>
</div>