<div class="clearfix">
    <div class="modal-header model-grey-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModal()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{item.name}}: </h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt ng-if="users || suppliers || product || resource">Name</dt>
            <dd ng-if="users || suppliers || product || resource"> {{item.name}}</dd>
            <dt ng-if="product || resource">Category</dt>
            <dd ng-if="product || resource"> {{item.category.name}}</dd>
            <dt ng-if="users">Surname</dt>
            <dd ng-if="users"> {{item.surname}}</dd>
            <dt ng-if="users">Username</dt>
            <dd ng-if="users"> {{item.username}}</dd>
            <dt ng-if="users || suppliers">Email</dt>
            <dd ng-if="users || suppliers"> {{item.emailAddress}}</dd>
            <dt ng-if="suppliers">Telephone</dt>
            <dd ng-if="suppliers"> {{item.telephone}}</dd>
            <dt ng-if="suppliers">City</dt>
            <dd ng-if="suppliers"> {{item.city}}</dd>
            <dt ng-if="suppliers">Country code</dt>
            <dd ng-if="suppliers"> {{item.country}}</dd>
            <dt ng-if="suppliers">Street</dt>
            <dd ng-if="suppliers"> {{item.street}}</dd>
            <dt ng-if="suppliers">Postal code</dt>
            <dd ng-if="suppliers"> {{item.postalCode}}</dd>
            <dt ng-if="users">Roles</dt>
            <dd ng-if="users"> {{item.roles}}</dd>
            <dt ng-if="resource || product">Description</dt>
            <dd ng-if="resource || product">{{item.description}}</dd>
            <dt ng-if="resource">Quantity</dt>
            <dd ng-if="resource">{{item.quantity}}</dd>
            <dt ng-if="product">Expected Value</dt>
            <dd ng-if="product">{{item.expectedValue}}</dd>
            <dt ng-if="resource || product">Unit</dt>
            <dd ng-if="resource || product">{{item.unit}}</dd>
            <dt ng-if="resource || product">Image</dt>
            <dd ng-if="resource || product"><img ng-src="data:image/png;base64,{{item.realimage}}" style="max-height:60px; max-width:60px;" /></dd>
            <dt ng-if="resource">Supplier email</dt>
            <dd ng-if="resource">{{item.supplier.emailAddress}}</dd>
            <div ng-repeat="formula_item in formulas">
                <dt ng-if="formula">{{formula_item.resource.name}}</dt>
                <dd ng-if="formula">{{formula_item.value}} {{formula_item.resource.unit}}</dd>
            </div>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" ng-click="cancelModal()"><i class="fa fa-close"></i> Close</button>
    </div>
</div>