@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart {
    width: auto;
    height: auto;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.item-border {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}


.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}


/* Product Description */
.description {
    padding-top: 10px;
    word-wrap: break-word;

}

.description span {

    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 400;
    margin-top: 8px;
}

/* Product Quantity */
.quantity {
    padding-top: 20px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.cart-button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:focus,
input:focus {
    outline:0;
}

/* Total Price */
.total-price {
    padding-top: 27px;
    text-align: center;
    font-size: 14px;
    color: #43484D;
    font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .quantity,
    .description {
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
    .footer {
        display:none;
    }
    body .page-container{
        padding-left: 0px;
    }
     #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }

    .navbar {
        background-color: #373737;
        color:  #71AF14 !important;
        font-family: Georgia, Serif;
    }
}

.image img{
    display: block;
    width:60px;
    height:60px;
}

.total-price {
  padding-top: 27px;
  text-align: center;
  font-size: 14px;
  color: #43484D;
  font-weight: 300;
}

.btn-row{
     padding: 10px 30px 10px !important;

}

body{
    background-color: #e9ecef;
    margin-top: 50px;
}


section.featured {
    padding: 250px 0 60px;
    color: #71AF14;
}

section.featured h2.slogan {
    color: #71AF14;
    font-size: 48px;
    font-weight: 900;
    align-content:  center !important;

}

.navbar-header li{
cursor: pointer;
}

.page-container{
    padding-left: 225px;
}
/*#nav_top{
    background-color: #373737;
    font-weight:600;
    color:  #71AF14 !important;
     font-family: Georgia, Serif;
     border-radius: 15px;
}

 #nav_top a{
    color:  #71AF14 !important;
    cursor: pointer;
 }*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
    margin-left: 225px;
    color:#71AF14 ;
    text-align: right;
}
   .img_responsive{
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 250px;
   }

   .login_buttons{
   background-color:#373737;
   color:  #71AF14;

   }
.nav_link{
    min-height: 100%;
     float: none;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}


/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #373737;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:800px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #373737;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        color:  #71AF14 !important;
    }

    .navbar{
        background-color: #373737;
        color:  #71AF14 !important;
        font-family: Georgia, Serif;
    }
    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

.navbar .nav > li > a:hover > .label {
    top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

.margins{
margin: 20px 20px 20px 20px;
}

/* MARGINS & PADDINGS */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
   margin: 10px;
 }
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}