#nav_top{
background-color: #373737;
font-weight:bold;
}

 #nav_top a{
 color:  #71AF14 !important;
 font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
 }
 .footer{
    position: fixed;

    bottom: 0;
    right:10px;
    width: 100%;
    color:#71AF14 ;
    text-align: right;
 }

#navbarNav{
right: 0px;
}