<div class="shopping-cart">
    <div class="title">Generate Reports</div>

    <div class="row margins">
            <div class="col-md-6 col-sm-6">
                <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-4 col-sm-4 control-label"> Product name</label>
                    <div class="col-md-6 col-sm-6">
                        <div class="row" ng-repeat="product in products">
                            <input type="checkbox" checklist-model="list.products" checklist-value="product.id"> {{product.name}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-sm-4 control-label">Chart type</label>
                    <div class="col-md-6 col-sm-6">
                        <div class="row">
                            <input type="radio" ng-model="chartType" value="Bar"> Bar Chart
                        </div>
                        <div class="row">
                            <input type="radio" ng-model="chartType" value="Line"> Line Chart
                        </div>
                        <div class="row">
                            <input type="radio" ng-model="chartType" value="Stick"> Stick Chart
                        </div>
                        <div class="row">
                            <input type="radio" ng-model="chartType" value="Pie"> Pie Chart
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">Start date</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="date" class="form-control" ng-model="date" id="datePickerId" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">Number of days</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="number" min="1" max="1000" step ="1" class="form-control" ng-model="noDays" id="daysPickerId" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">Email of receiver</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control" ng-model="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"></label>
                        <div class="col-md-6 col-sm-6">
                            <div class="row">
                                <span><button class="btn btn-success" ng-click="generateReport()">Generate Report</button></span>
                                <span><button class="btn btn-success" ng-click="sendReport()">Send Report</button></span>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-md-6 col-sm-6 margins">
                <img ng-src="data:image/png;base64,{{image}}">
            </div>
    </div>
</div>